[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #ff0000;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #ff0000;
}

h1 {
    text-align: center;
    color: red;
    margin-top: 10%;
    margin-bottom: 15%;
}

body.darkmode {
    background-color: rgb(31, 29, 29);
    color: white;
}


/* agregar color y borde a la tabla */


/* td,
th {
    border: solid black 2px;
    padding: 20px;
    text-align: center;
} */